/* pagination */
@media print, screen {
    .pmb-main-matter {
        display: block;
        page: main;
        counter-reset: page 1
    }
    @page main {
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
        @top {
            content: flow(part-header);
        }
        @bottom {
            content: counter(page)
        }
    }
    @page title{
        margin:10px;
        @bottom-right{
            content:none;
        }
    }
    body{
        prince-footnote-policy: keep-with-line;
    }

    /* General styles*/
    h1,h2,h3,h4,h5,h6{
        page-break-after:avoid;
        page-break-inside:avoid;
    }

    /* title page */
    .pmb-title-page{
        page:title;
    }
    .pmbcpm-title-page-logo{
        width:100%;
    }
    .pmbcpm-title-page-issue-wrapper{
        text-align:right;
        margin-top:-3vw;
    }
    .pmbcpm-title-page-cover-image-wrapper{
        margin-top:50px;
    }
    .pmbcpm-title-page-cover-image{
        width:100%;
    }

    /* toc, if it were used */
    .pmb-toc-list li{
        list-style:none;
    }
    .pmb-toc-item.pmb-toc-height-3{
        font-size:2em;
        font-weight:bold;
        margin-top:20px;
        background-color:lightgray;
    }
    .pmb-toc-item.pmb-toc-height-2{
        font-size:1.5em;
        border-bottom:1px solid black;
        margin-top:1em;
    }
    .pmb-toc-item.pmb-toc-height-1{
        font-size:1em;
        font-weight:bold;
    }
    .pmb-toc-item.pmb-toc-depth-3{
        margin-left:3em;
    }
    .pmb-toc-item.pmb-toc-depth-2{
        margin-left:2em;
    }
    .pmb-toc-item.pmb-toc-depth-1{
        margin-left:1em;
    }
    .pmb-toc-list .pmb-toc-item.pmb-toc-front a::after {
        content: leader('.') target-counter(attr(href), page, lower-roman) !important;
    }
    .pmb-toc-list .pmb-toc-item:not(.pmb-toc-front) a::after {
        content: leader('.') target-counter(attr(href), page) !important;
    }

    /* parts */
    .pmb-part-wrapper{
        break-before:page;
    }
    /* Hide part titles, but we'll use them in the TOC and margins. */
    .pmb-part h1.pmb-title{
        /*display:none;*/
        -prince-flow:static(part-header);
    }

    .pmb-article h1.pmb-title{
        font-size:1.2em;
    }

    /* miscellaneous */
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;
        margin-left:0;
        font-weight:normal;
    }
}