/* pagination */
@media print, screen {



    @page main {
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
        @top {
            content: flow(normal-header);
        }
        @bottom {
            content: flow(normal-footer);
        }
    }
    @page toc{
        @top{
            content:flow(toc-header);
        }

    }
    @page fullpage-no-margins{
        margin:0;
        @top {
            padding-top:0;
        }
    }
    @page featured-image-bottom:first{
        @bottom{
            content:none;
        }
    }
    @page{
        margin-top:100px;
        @top{
            vertical-align:top;
            padding-top:20px;
        }
    }
    @page title{
        margin:10px;
    }
    body{
        prince-footnote-policy: keep-with-line;
    }
    :root{
        --primary-font-color:rgb(18,62,122);
        --secondary-font-color:rgb(138,150,157);
    }

    /* General styles*/
    h1,h2,h3,h4,h5,h6{
        page-break-after:avoid;
        page-break-inside:avoid;
    }
    .pmb-posts h2:not(.pmbcpm-subtitle h2), h3, h4, h5, h6{
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 100;
        border-top: 2px solid var(--secondary-font-color);
        display: inline-block;
        padding-top: 10px;
        margin-bottom:0;
    }
    h3{
        font-size:.7em;
    }
    h4{
        border-top:unset;
        padding-top:unset;
    }
    h5{
        font-size:1em;
        margin-bottom:1em;
    }
    h6{
        font-size:.9em;
        margin-bottom:1em;
    }

    .pmb-main-matter {
        display: block;
        page: main;
        counter-reset: page 1
    }

    /* title page */
    .pmb-title-page{
        page:title;
    }
    .pmbcpm-title-page-logo{
        width:100%;
    }
    .pmbcpm-title-page-issue-wrapper{
        text-align:right;
        margin-top:-3vw;
    }
    .pmbcpm-title-page-cover-image-wrapper{
        margin-top:30px;
    }
    /**
    Sets maximum height of dynamic cover page
     */
    .pmb-posts .pmb-dynamic-resize img{
        height:50px;
    }

    .pmbcpm-toc-article-wrapper{
        page: toc;
    }
    .pmbcpm-toc-issue-h1{
        font-size:6em;
        color:white;
    }
    .pmbcpm-toc-article-wrapper{
        column-span:all;
    }
    /* toc, if it were used */
    .pmb-toc-list li{
        list-style:none;
    }

    .pmb-toc-list{
        display:table;
    }
    .pmb-toc-list>div{
        display:table-row;
    }
    .pmbcpm-toc-part-title-wrapper, .pmbcpm-top-margin-title{
        text-transform:uppercase;
        color: var(--secondary-font-color);
        font-family: var(--pmb-header-font);
    }
    .pmbcpm-toc-part-title-cell{
        padding-top:20px;
    }
     .pmbcpm-part-underline{
         border-bottom:2px solid var(--primary-font-color);
         padding-bottom:5px;
    }
    .pmbcpm-first-item{
        width:100px;
    }
    .pmbcpm-toc-article-title-wrapper a.pmbcpm-page-ref{
        color:var(--primary-font-color);
        display:inline-block;/*Must be an inline block or else the ::after selector doesn't work on it when its empty*/
        text-decoration: none;
    }
    /* The above should remove the underline from the TOC page reference links, but doesn't in Prince (did in Firefox). This was needed.*/
    a{
        text-decoration:none;
    }
    .pmbcpm-toc-article-title-wrapper a.pmbcpm-page-ref::after{
        content: target-counter(attr(href), page) !important;
        color:var(--primary-font-color);
    }
    .pmbcpm-toc-article-link{
        color:var(--primary-font-color);
    }
    a.pmbcpm-toc-article-link:link, a.pmbcpm-page-ref:link::after{
        text-decoration: none;
    }
    a.pmbcpm-toc-article-link:visited, a.pmbcpm-page-ref:visited::after {
        text-decoration: none;
    }

    .pmbcpm-toc-article-title-wrapper a{
        font-family: var(--pmb-header-font);
    }

    .pmbcpm-toc-excerpt{
        margin-top:5px;
        color:var(--secondary-font-color);
    }
    .pmb-toc-list>div>div{
        display:table-cell;
        padding-bottom:15px;
    }

    .pmbcpm-toc-title-wrapper{
        -prince-flow:static(toc-header);
    }

    .pmbcpm-toc-article-inner{
        background-color:white;
        padding:20px;
        margin:40px;
    }
    .pmbcpm-toc-article header{
        padding-left:40px;
    }

    /* parts */
    .pmb-front_matter_article-wrapper, .pmb-back_matter_article-wrapper, .pmb-article-wrapper:not(.pmb-part-wrapper:first-of-type .pmb-article-wrapper:first-of-type){
        break-before:page;
    }

    /* Hide part titles, but we'll use them in the TOC and margins. */
    .pmbcpm-top-margin-title-wrapper{
        -prince-flow:static(normal-header);
    }


    #pmbcpm-footer-margin-wrap{
        -prince-flow:static(normal-footer);
    }
    .pmbcpm-footer-margin-wrap{
        font-size:0.5em;
    }
    .pmbcpm-footer-margin{
        text-align:center;
        font-family: var(--pmb-header-font);
    }
    .pmbcpm-pagenum-wrapper{
        margin-bottom:10px;
        color:var(--secondary-font-color);
        font-size:2em;
    }
    .pmb-publication-data{
        border-top:1px solid black;
        padding-top:5px;
        text-transform: uppercase;
    }
    .pmb-page-number::after {
        content: counter(page);
    }

    .pmb-article h1.pmb-title{
        font-size:4em;
        color:var(--primary-font-color);
        margin-bottom:10px;
        margin-top:0;
    }
    .pmbcpm-subtitle h2{
        font-size:1.8em;
        color:var(--secondary-font-color);
        text-align:center;
        font-family:var(--pmb-main-font);
    }

    .byline-wrapper{
        text-align:center;
    }

    /* Article column stuff */
    .pmb-front-matter, .pmb-main-matter, .pmb-back-matter{
        columns:2;
        column-rule: 1px solid gray;
        column-gap:20px;
    }

    .pmbcpm-qr-code-wrapper{
        /*background-color:rgb(222,228,233);*/
        padding-right:10px;
        float:left;
        /*display:flex;*/
        /*width:50%;*/
    }
    .pmbcpm-qr-code{
        display:inline-block;
    }
    .pmbcpm-full-article-link{
        vertical-align:top;
        padding-top:5px;
        padding-left:10px;
        margin-top:5px;
        text-align:left;
    }

    /* Justify content looks way better when there are columns */
    article:not(.pmb-just-content) div.entry-content p:not(.has-text-align-center, .has-text-align-right),
    article:not(.pmb-just-content) div.entry-content li {
        text-justify: inter-character;
        text-align: justify;
    }

    .pmb-print-page .pmb-single-column, .pmb-print-page .pmb-just-content {
        column-span: all;
    }

    /* Heading */
    .entry-header{
        margin-top:30px;
        margin-bottom:30px;
    }
    .entry-header.middle .post-thumbnail{
        margin-top:30px;
    }

    /* Featuerd images */
    .post-thumbnail{
        column-span:all;
        margin-top:30px;
    }
    .post-thumbnail>img{
        width:100%;
        max-height:none;
        height:auto;
    }
    .post-thumbnail.top{
        /*height:40vh;*/
        -prince-float:top page;
        margin-top:0;
        margin-bottom:0;
    }
    .post-thumbnail.middle{
        /*height:30vh;*/
    }
    .post-thumbnail.top>*, .post-thumbnail.middle>*{
        /*max-height:100%;*/
        /*width:auto;*/
        margin-left:auto;
        margin-right:auto;
    }
    .post-thumbnail.bottom {
        -prince-float: bottom;
        width: 100%;
        /*margin-left: -200px;*/
        /*margin-bottom: -200px;*/
        /*height:30vh;*/
    }
    .post-thumbnail.bottom>*{
        /*height:100%;*/
        /*height:calc(100% + 200px);*/
    }

    .post-thumbnail.bottom>figcaption{
        margin-top:-30px;
    }
    .post-thumbnail.bottom .pmbcpm-caption-span{
        padding:5px;
        background:rgba(255,255,255,0.5)
    }
    div.bottom-featured-image{
        page:featured-image-bottom;
    }

    /* Main Content */

    /* Because we're in columns, save a bit of space by decreasing the indent on lists.*/
    ul, ol {
        padding-left: 1em;
        margin-left:0.5em;
    }
    .entry-header, .pmb-wide{
        column-span:all;
    }
    blockquote{
        font-size:2em;
        color:var(--secondary-font-color);
        font-family: var(--pmb-header-font)
    }
    blockquote p {
        quotes: "“" "”" "‘" "’";
        text-align:left;
    }
    blockquote p::before {
        content: '“';
    }
    blockquote p::after {
        content: '\201D';
    }

    /* Author bio */
    .pmbcpm-author-bio-wrapper{
        -prince-float:bottom column;
    }
    .pmbcpm-author-bio{
        background-color:rgb(222,228,233);
        margin-left:50px;
        position:relative;
        padding:5px;
        min-height:150px;
    }
    .pmbcpm-author-bio-text{
        margin-left:75px;
    }
    .pmbcpm-author-avatar-wrapper{
        position:absolute;
        left:-50px;
        top:25%;
        display:inline-block;
        background-color:white;
        padding:5px;
    }
    .pmbcpm-author-avatar-wrapper>img{
        width:100px;
        height:auto;
    }


    /* Fullpage no margins*/
    .pmb-fullpage-no-margins img, .pmb-fullpage-no-margins div.wp-caption{
        max-height:100pvh;
    }



    /* miscellaneous */
    .pmb-fullpage-no-margins{
        page: fullpage-no-margins;
        display:block;
        column-span:all;
    }
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;
        margin-left:0;
        font-weight:normal;
    }

    .pmbcpm-article-end-icon{
        width:1em;
        float:right;
    }
}