/* pagination */
@media print, screen {
    .pmb-main-matter {
        display: block;
        page: main;
        counter-reset: page 1
    }
    @page main {
        counter-reset: footnote;

        @footnotes {
            border-top: solid black thin;
            padding-top: 8pt;
        }
        @top {
            content: flow(part-header);
        }
        @bottom {
            content: counter(page)
        }
    }
    @page title{
        margin:10px;
        @bottom-right{
            content:none;
        }
    }
    body{
        prince-footnote-policy: keep-with-line;
    }

    /* General styles*/
    h1,h2,h3,h4,h5,h6{
        page-break-after:avoid;
        page-break-inside:avoid;
    }

    /* title page */
    .pmb-title-page{
        page:title;
    }
    .pmbcpm-title-page-logo{
        width:100%;
    }
    .pmbcpm-title-page-issue-wrapper{
        text-align:right;
        margin-top:-3vw;
    }
    .pmbcpm-title-page-cover-image-wrapper{
        margin-top:30px;
    }
    /**
    Sets maximum height of dynamic cover page
     */
    .pmb-posts .pmb-dynamic-resize img{
        height:50px;
    }

    /* toc, if it were used */
    .pmb-toc-list li{
        list-style:none;
    }
    /*.pmb-toc-item.pmb-toc-height-3{
        font-size:2em;
        font-weight:bold;
        margin-top:20px;
        background-color:lightgray;
    }
    .pmb-toc-item.pmb-toc-height-2{
        font-size:1.5em;
        border-bottom:1px solid #2c2c2c;
        margin-top:1em;
    }
    .pmb-toc-item.pmb-toc-height-1{
        font-size:1em;
        font-weight:bold;
    }
    .pmb-toc-item.pmb-toc-depth-3{
        margin-left:3em;
    }
    .pmb-toc-item.pmb-toc-depth-2{
        margin-left:2em;
    }
    .pmb-toc-item.pmb-toc-depth-1{
        margin-left:1em;
    }*/

    /*.pmb-toc-item{
        display:block;
    }

    .pmb-toc-item a{
        padding-left:100px;
    }

    .pmb-toc-item.pmb-toc-depth-0 a{
        border-bottom:2px solid rgb(18,62,122);
    }

    .pmb-toc-list .pmb-toc-item a::before {
        content: target-counter(attr(href), page) leader(' ') !important;
    }*/
    /*.pmbcpm-toc-part-title-wrapper{*/

    /*}*/
    /*.pmbcpm-toc-part-title{*/
    /*    text-transform:uppercase;*/
    /*    color: rgb(138,150,157);*/
    /*    display:inline;*/
    /*    border-bottom:2px solid rgb(18,62,122);*/
    /*    padding-left:100px;*/
    /*}*/
    /*.pmbcpm-toc-article-link::before{*/
    /*
    /*}*/
    .pmb-toc-list{
        display:table;
    }
    .pmb-toc-list>div{
        display:table-row;
    }
    .pmbcpm-toc-part-title-wrapper{
        text-transform:uppercase;
        color: rgb(138,150,157);
    }
    .pmbcpm-toc-part-title-cell{
        padding-top:20px;
        font-family: var(--pmb-header-font);
    }
     .pmbcpm-toc-part-title-wrapper .pmbcpm-part-underline{
        border-bottom:2px solid rgb(18,62,122);
         padding-bottom:5px;
    }
    .pmbcpm-first-item{
        width:100px;
    };
    .pmbcpm-toc-article-title-wrapper a.pmbcpm-page-ref{
        color:rgb(18,62,122);
        display:inline-block;/*Must be an inline block or else the ::after selector doesn't work on it when its empty*/
        text-decoration: none;
    }
    /* The above should remove the underline from the TOC page reference links, but doesn't in Prince (did in Firefox). This was needed.*/
    a{
        text-decoration:none;
    }
    .pmbcpm-toc-article-title-wrapper a.pmbcpm-page-ref::after{
        content: target-counter(attr(href), page) !important;
        color:rgb(18,62,122);
    }
    .pmbcpm-toc-article-link{
        color:rgb(18,62,122);
    }
    a.pmbcpm-toc-article-link:link, a.pmbcpm-page-ref:link::after{
        text-decoration: none;
    }
    a.pmbcpm-toc-article-link:visited, a.pmbcpm-page-ref:visited::after {
        text-decoration: none;
    }

    .pmbcpm-toc-article-title-wrapper a{
        font-family: var(--pmb-header-font);
    }

    .pmbcpm-toc-excerpt{
        margin-top:5px;
        color:rgb(138,150,157);
    }
    .pmb-toc-list>div>div{
        display:table-cell;
        padding-bottom:15px;
    }

        /* parts */
    .pmb-part-wrapper{
        break-before:page;
    }

    /* Hide part titles, but we'll use them in the TOC and margins. */
    .pmb-part h1.pmb-title{
        /*display:none;*/
        -prince-flow:static(part-header);
    }

    .pmb-article h1.pmb-title{
        font-size:1.2em;
    }

    /* miscellaneous */
    .pmb-posts span.pmb-footnote{
        float:footnote;
        text-align:left;
        margin-left:0;
        font-weight:normal;
    }
}